.todo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 0.5em;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 0.5em;
    width: 100%;
    max-width: 500px;
    transition: .2s ease-in-out;

  }

  .todo:hover {
    transform: scale(1.01);
    border: 2px solid rgb(211, 211, 211);
  }

  .todo-is-completed {
    border: 1px solid rgb(23, 176, 226);
  }
  
  .todo-is-completed:hover {
    transform: scale(1.01);
    border: 2px solid rgb(23, 176, 226);
  }

  .todo-is-completed .checkbox {
    color: rgb(23, 176, 226);
    border: 1px solid rgb(23, 176, 226);
  }
  
  .todo-is-completed input {
    color:rgb(23, 176, 226);
  }
  
  .checkbox, .removeBtn, .addBtn {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.65em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s ease-in-out;
  }

  .checkbox {
    margin-right: 10px;
    border: 1px solid rgb(211, 211, 211);
  }

  .addBtn {
    margin-left: 10px;
    border: 1px solid rgb(211, 211, 211);
  }

  .removeBtn {
    margin-left: 10px;
  }
  
  .checkbox:hover {
    transform: scale(1.1);
    border: 1px solid rgb(23, 176, 226);
  }
  
  .checkbox-checked {
    background: rgb(211, 211, 211);
  }

  .checkbox-checked:hover {
    transform: scale(1.1);
    border: 1px solid rgb(211, 211, 211)!important;
  }

  .removeBtn:hover {
    transform: scale(1.1);
    border: 1px solid rgb(226, 73, 55);
    color: rgb(226, 73, 55);
  }
  .addBtn:hover {
    transform: scale(1.1);
    border: 1px solid rgb(43, 164, 37);
    color: rgb(43, 164, 37);
  }
  
  .todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 2rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  
  input {
    border: none;
    background: transparent;
    color: rgb(211, 211, 211);
    font-size: 2rem;
    outline: none;
    width: 100%;
  }