/* TO-DO ITEM */

.TodoItem, .AddNewTodo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 0.5em;
  border: 2px solid rgb(211, 211, 211);
  border-radius: 0.5em;
  width: 100%;
  max-width: 500px;
  transition: .2s ease-in-out;
}

.TodoItem:hover {
  transform: scale(1.01);
}

.TodoItem--isImportant {
  border: 2px solid rgb(23, 176, 226);
}

.TodoItem--isCompleted {
  border: 2px solid rgb(43, 164, 37);
}

/* INPUT */

input {
  border: none;
  background: transparent;
  color: rgb(211, 211, 211);
  font-size: 2rem;
  outline: none;
  width: 100%;
}

.TodoItem--isImportant input {
  color: rgb(23, 176, 226);
}

.TodoItem--isCompleted input {
  color: rgb(43, 164, 37);
}

/* BUTTONS */

.TodoItem__checkBox, .TodoItem__removeBtn, .TodoItem__importantBtn, .AddNewTodo__addBtn {
  width: 1em;
  height: 1em;
  font-size: 1em;
  padding: 0.55em;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CHECKBOX */

.TodoItem__checkBox {
  margin-right: 10px;
  border: 2px solid rgb(211, 211, 211);
}

.TodoItem__checkBox:hover {
  border: 2px solid rgb(43, 164, 37);
}

.TodoItem--isImportant .TodoItem__checkBox {
  border: 2px solid rgb(23, 176, 226);
}

.TodoItem--isCompleted .TodoItem__checkBox {
  color: rgb(43, 164, 37);
  border: 2px solid rgb(43, 164, 37);
}

.TodoItem--isCompleted .TodoItem__checkBox:hover {
  border: 2px solid rgb(211, 211, 211);
  color: rgb(211, 211, 211);
}

/* IMPORTANT-BUTTON */

.TodoItem__importantBtn {
  margin-left: 10px;
}

.TodoItem__importantBtn:hover {
  border: 2px solid rgb(23, 176, 226);
  color: rgb(23, 176, 226);
}

.TodoItem--isImportant .TodoItem__importantBtn {
  color: rgb(23, 176, 226);
}

.TodoItem--isImportant .TodoItem__importantBtn:hover {
  border: 2px solid rgb(211, 211, 211);
  color: rgb(211, 211, 211);
}

/* REMOVE-BUTTON */

.TodoItem__removeBtn {
  margin-left: 10px;
}

.TodoItem__removeBtn:hover {
  border: 2px solid rgb(226, 73, 55);
  color: rgb(226, 73, 55);
}

/* ADD-NEW-BUTTON */

.AddNewTodo__addBtn {
  margin-left: 10px;
  border: 2px solid rgb(211, 211, 211);
}

.AddNewTodo__addBtn:hover {
  border: 2px solid rgb(43, 164, 37);
  color: rgb(43, 164, 37);
}