.todo {
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 0.5em;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 0.5em;
    width: 100%;
    max-width: 500px;
  }

  .todo-is-completed {
    border: 1px solid rgb(23, 176, 226);
  }
  
  .todo-is-completed .checkbox {
    color: rgb(23, 176, 226);
    border: 1px solid rgb(23, 176, 226);
  }
  
  .todo-is-completed input {
    color:rgb(23, 176, 226);
  }
  
  .checkbox, .removeBtn {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.65em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s ease-in-out;
  }

  .checkbox {
    margin-right: 10px;
    border: 1px solid rgb(211, 211, 211);
  }

  .removeBtn {
    margin-left: 10px;
  }
  
  .checkbox:hover {
    border: 1px solid rgb(23, 176, 226);
  }
  
  .checkbox-checked {
    background: rgb(211, 211, 211);
  }

  .checkbox-checked:hover {
    border: 1px solid rgb(211, 211, 211)!important;
  }

  .removeBtn:hover {
    border: 1px solid rgb(226, 73, 55);
    color: rgb(226, 73, 55);
  }
  
  ul {
    list-style: none;
    padding: 0;
    line-height: 2rem;
    width: 100%;
    max-width: 500px;
  }
  
  input {
    border: none;
    background: transparent;
    color: rgb(211, 211, 211);
    font-size: 2rem;
    outline: none;
    width: 100%;
  }