.TaskStatus {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        margin: 1rem;
        padding: 0.5em;
        border: 2px solid rgb(226, 73, 55);
        border-radius: 0.5em;
        width: 100%;
        max-width: 500px;
}

.TaskStatus--isCompleted {
        border: 2px solid rgb(43, 164, 37);
}