.Footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    color: rgb(110, 110, 110);
    margin: 2rem;
    bottom: 0;
    height: 30vh;
  }

a {
  color: rgb(23, 176, 226);
  text-decoration: none;
}

a:hover {
  color: rgb(23, 176, 226);
}

a:visited {
  color: rgb(211, 211, 211);
}