body {
  background-color: black;
  min-height: 100vh;
  color: rgb(211, 211, 211);
  font-size: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(211, 211, 211);
  border: 1px solid rgb(110, 110, 110);;
  border-radius: 1em;
  width: 75vw;
  padding: 2rem;
  }

/* colors:
white: rgb(211, 211, 211);
grey: rgb(110, 110, 110);
red: rgb(226, 73, 55);
green: rgb(43, 164, 37)
blue: rgb(23, 176, 226)
*/




